/*

Title of project
Author's name

Some description of the CSS styling

*/

/* Actual CSS goes below here! */

body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-image: url("../images/desk.jpg");
  background-size: 100%;
  background-color: black;
}

h2{
  color: teal;
  font-size: 1.5em;
  text-align: center;
  font-family: Helvetica;
}

h1{
  color: teal;
  font-size: 4.5em;
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
  margin-top: 18vh;
}

div.slide-left {
  width:100%;
  overflow:hidden;
}
div.slide-left h1 {
  animation: slide-left 13s;
}

div.slide-left h2 {
animation: slide-left 6s;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
