/*
DART 450, Winter 2018
Exercise 7
Émilie Brunet
Prototype for final project using scroll!
*/

* {
	margin: 0;
	padding: 0;
}

#logo2{
	width: 200px;
	height: 130px;
	background-image: url(../images/smush_logo.png);
	background-size: cover;
	margin-top: 44px;
	margin-left: 0px;
  position: fixed;
}

/* Header */

#head {
	margin-bottom:0;
	padding-bottom: 30px;
	padding-top: 30px;
	box-sizing: border-box;
	width: 100%;
	background: #F93465;
}

p {
font-family: 'Asap Condensed', sans-serif;
	font-size: 16px;
	line-height: 2vw;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 15vw;
	margin-right: 15vw;
}

#p2 {
	font-size: 38px;
	font-family: 'Baloo Bhaina', cursive;
	font-style: italic;
	color: white;
	text-align: center;
}

#p3 {
	color: black;
	font-size: 19px;
}

#prompt2 {
	position: fixed;
	text-align: center;
	bottom: 13vh;
	left: 15%;
}

#trigger {
  position: fixed;
  max-width: 1px;
  max-height: 1px;
  opacity: 0;
  top: 57vh;
  left: 45.5vw;
}

#nose {
  position: fixed;
  top: 5vh;
  left: 40vw;
  height: 450px;
  z-index: -12;
}

#nosebod {
	background: #E8AD92;
	margin-top: -45px;
  height: 1500px;
}
