/*
DART 450, Winter 2018
Exercise 7
Émilie Brunet
Prototype for final project using scroll!
*/

body {
  height: 1500px;
}

#trigger {
  position: fixed;
  max-width: 1px;
  max-height: 1px;
  opacity: 0;
  top: 57vh;
  left: 45.5vw;
}

#nose {
  position: fixed;
  top: 5vh;
  left: 40vw;
  height: 450px;
  z-index: -99;
}
