/*

DART 450, Winter 2018
Butterfly Study
Émilie Brunet

Some description of the CSS styling

*/

body {
height: 100%;
}

#submit {
  text-align: center;
  font-family: helvetica;
}

#selectors {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 100px;
	font-family: helvetica;
}

#button1 {
	color: blue;
}



/* My Butterflies */

#Butterflies {
 margin-top: 150px;
 position: relative;
 margin-left: 40vw;
}

#bf1 {
  position: absolute;
}

#bf2{
  position: absolute;
  margin-left: 25px;

}

#bf3 {
  position: absolute;
  margin-left: 55px;
}

#bf4 {
  position: absolute;
  margin-left: 80px;
	display: none;
}

#bf5 {
  position: absolute;
  margin-left: 95px;
  display:none;
}

#bf6 {
  position: absolute;
  margin-left: 0px;
  display: none;
}

#bf7 {
  position: absolute;
  margin-left: 100px;
  display:none;
}

#bf8{
  position: absolute;
  margin-left: 25px;

}

#bf9 {
  position: absolute;
  margin-left: 55px;
}

.all {
}

.st0{
}

.st1{
  opacity:0.8;
}

.st2{
  fill:none;
  stroke-width:1.5;
  stroke-miterlimit:10;
}

.st3{;
}
.st4{opacity:0.8;
}
.st5{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st6{;
}
.st7{opacity:0.8;
}
.st8{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st9{
}
.st10{opacity:0.8;
}


.st11{
}
.st12{opacity:0.8;
}

.st16{
}
.st17{opacity:0.8;
}
.st18{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st19{
}
.st20{opacity:0.8;
}
.st21{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st22{
}
.st23{opacity:0.8;
}
.st24{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}
