/*

DART 450, Winter 2018
Butterfly Study
Émilie Brunet

The CSS provides styling for SVGs, text, and buttons.
These styles include:
- fonts
- colours
- positioning of elements
- size
- etc.

*/

body {
height: 100%;
}

#title {
text-align: center;
  font-family: helvetica;
	display: inline;
	width: 100%;
	font-size: 1.7em;
	padding: 100px;
}

#submit {
display: inline;
}

#input1 {
	margin: 0 auto;
	text-align: center;
		font-family: helvetica;
}

#selectors {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 150px;
	font-family: helvetica;
}

#button1 {
	color: blue;
	font-size: 13px;
}

#button2 {
	color: gold;
	font-size: 13px;
}

#button3 {
	color: Red;
	font-size: 13px;
}

#button4 {
	color: deepPink;
	font-size: 13px;
}

#button5 {
	color: Green;
	font-size: 13px;
}

#button6 {
	color: darkViolet;
	font-size: 13px;
}

#button7 {
	color: orange;
	font-size: 13px;
}


/* My Butterflies */

#Butterflies {
 margin-top: 150px;
 position: relative;
 margin-left: 40vw;
}

#bf1 {
  position: absolute;
}

#bf2{
  position: absolute;
  margin-left: 25px;

}

#bf3 {
  position: absolute;
  margin-left: 55px;
}

#bf4 {
  position: absolute;
  margin-left: 80px;
	display: none;
}

#bf5 {
  position: absolute;
  margin-left: 95px;
  display:none;
}

#bf6 {
  position: absolute;
  margin-left: 0px;
  display: none;
}

#bf7 {
  position: absolute;
  margin-left: 100px;
  display:none;
}

#bf8{
  position: absolute;
  margin-left: 25px;

}

#bf9 {
  position: absolute;
  margin-left: 55px;
}

.all {
}

.st0{
}

.st1{
  opacity:0.8;
}

.st2{
  fill:none;
  stroke-width:1.5;
  stroke-miterlimit:10;
}

.st3{;
}
.st4{opacity:0.8;
}
.st5{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st6{;
}
.st7{opacity:0.8;
}
.st8{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st9{
}
.st10{opacity:0.8;
}


.st11{
}
.st12{opacity:0.8;
}

.st16{
}
.st17{opacity:0.8;
}
.st18{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st19{
}
.st20{opacity:0.8;
}
.st21{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}

.st22{
}
.st23{opacity:0.8;
}
.st24{fill:none;;stroke-width:1.5;stroke-miterlimit:10;
}
