/*

Midterm
Émilie Brunet

*/

body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-image: url("../images/gridBG-05.png");
  background-size: 100%;
  max-width: 100%;
}

h1{
	color: blue;
  font-size: 2em;
  text-align: left;
	padding-left: 40px;
  font-family: Rock Salt;
  font-weight: bold;
  margin-right: 100px;
	display: inline-block;
}

h2{
  color: red;
  font-size: 1.15em;
  font-family: indie flower;
	padding-left: 60px;
	margin-top: -25px
}

p {
	color: rgba(31,31,31,0.95);
	font-size: 1.15em;
	width: 80vw;
	font-family: indie flower;
	margin: auto;
  max-width: 50vw;
}

/* Pixel Art */

#art {
  display: table;
  border-spacing: 1px;
  background-color: black;
  border: 5px solid black;
  margin-left: 8%;
}

.row {
  display: table-row;
}

.pixel {
  display: table-cell;
  background-color: white;
  width: 35px;
  height: 35px;
}

.pen {
  display: inline-inline-block;
  width: 35px;
  height: 35px;
  border: 2px solid black;
}

/* Madlib */

#story{
	position: absolute;
	top: 700px;
	padding: 27px;
  z-index: -99;
  width: 50%;
  left: 40%;
  background-color: pink;
}

.inputButton {
	display: inline-block;
	height: 35px;
  line-height: 35px;
	background-color: blue;
	border: none;
	width: 100px;
	color: white;
  font-size: 1.25em;
	text-align: center;
	cursor: pointer;
  position: absolute;
  top: 1020px;
  left: 8%;
  	font-family: indie flower;
}

.inputBar {
	width: 200px;
	border: solid 2px rgba(58,58,58,1.00);
}

#input1 {
	position: absolute;
	top: 700px;
	left: 8%;
}

#input2 {
	position: absolute;
	top: 780px;
	left: 8%;
}

#input3 {
	position: absolute;
	top: 860px;
	left: 8%;
}

#input4 {
	position: absolute;
	top: 940px;
	left: 8%;
}

/* Boxes */

#boxes {
	position: absolute;
	top: 1200px;
	 display: flex;
  flex-wrap: wrap;
	justify-content: space-around;
}

#box1 {
	width: 10vw;
	height: 161px;
	background-color: red;
	display: inline-block;
	position: relative;
	margin: 5px;
}

#box2 {
	width: 20vw;
	height: 161px;
	background-color: blue;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box3 {
	width: 30vw;
	height: 161px;
	background-color: yellow;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box4 {
	width: 10vw;
	height: 161px;
	background-color: green;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box5 {
	width: 24vw;
	height: 100px;
	background-color: red;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box6 {
	width: 10vw;
	height: 161px;
	background-color: blue;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box7 {
	width: 30vw;
	height: 161px;
	background-color: green;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box8 {
	width: 20vw;
	height: 161px;
	background-color: red;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box9 {
	width: 22vw;
	height: 161px;
	background-color: red;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box10 {
	width: 10vw;
	height: 161px;
	background-color: blue;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box11 {
	width: 30vw;
	height: 161px;
	background-color: yellow;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box12 {
	width: 20vw;
	height: 161px;
	background-color: blue;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box9 {
	width: 20vw;
	height: 161px;
	background-color: yellow;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box9 {
	width: 30vw;
	height: 161px;
	background-color: red;
	position: relative;
	display: inline-block;
	margin: 5px;
}

#box9 {
	width: 20vw;
	height: 161px;
	background-color: green;
	position: relative;
	display: inline-block;
	margin: 5px;
}

/*#canvas {
    width:900px;
    height:500px;
    border: 10px solid black;
	position: absolute;
	top: 150%;
	margin: 10%;
}
.rectangle {
    border: 1px solid blue;
    position: absolute;
}

.resize-drag {
  background-image: url(../images/bugs_high/buggy-13.png);
	background-size: cover;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;
  width: 120px;
	height: 120px;
  box-sizing: border-box;
	position: absolute;
	top: 95%;
	border: 2px blue solid;
}

.resize-container {
  display: inline-block;
  width: 100%;
  height: 240px;
}*/
