/*

Title of project
Author's name

Some description of the CSS styling

*/

/* Actual CSS goes below here! */

body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-image: url("../images/gridBG-05.png");
  background-size: cover;
}

h1{
	color: blue;
  font-size: 4.5em;
  text-align: center;
  font-family: Rock Salt;
  font-weight: bold;
  margin-top: 34vh;
	line-height: 24px;
}

h2{
  color: red;
  font-size: 1.5em;
  text-align: center;
  font-family: indie flower;
}

p {
	color: rgba(31,31,31,0.95);
	font-size: 1.05em;
	width: 80vw;
	font-family: indie flower;
	margin: auto;
}

#bugs {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 20vh;
	left: 20vw;
	display: block;
	line-height: 500px;
	padding: 50px;
	border: solid 2px red;
}

.bug {
	width: 100px;
	margin-left: 20vw;
	margin-right: 20vw;
	top: 28vh;
	position:absolute;
	display: block;
}

#worm1 {
	
}