/*

Midterm
Émilie Brunet

*/

body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  background-image: url("../images/gridBG-05.png");
  background-size: 100%;
  max-width: 100%;
}

h1{
	color: #2264F2;
  font-size: 2em;
  text-align: left;
	padding-left: 40px;
  font-family: Rock Salt;
  font-weight: bold;
  margin-right: 20px;
	display: inline-block;
  width: 280px;
  margin-top: -8px;
}

h2{
  color: black;
  font-size: 1.5em;
  font-family: indie flower;
	padding-left: 10px;
	margin-top: -35px;
  width: 280px;
  line-height: 40px;
  height: 35px;
  display: inline-block;
}

p {
	color: rgba(31,31,31,0.95);
	font-size: 1.15em;
	width: 80vw;
	font-family: indie flower;
	margin: auto;
  max-width: 50vw;
}

nav {
  background-color: #F9CF00;
  height: 45px;
  padding-right:50px;
}

hr {
    border: 1px solid black;
    margin-top: 0px;
}

.menu {
  color: black;
  font-size: 1.25em;
  margin-left: 40px;
  text-decoration: none;
  font-family: indie flower;
  line-height: 45px;
  float: right;
  padding-left: 8px;
  padding-right: 8px;
}

.menu:hover {
  background-color: #F09E56;
}

.menu:target {
  background-color: #F09E56;
}

/* Landing */

#landinganim {
  margin-top: 34vh;
  text-align: center;
  color: #2264F2;
  font-size: 3.5em;
  padding-left: 40px;
  font-family: Rock Salt;
  margin-right: 20px;
}

h3 {
  color: black;
  font-size: 1.5em;
  font-family: indie flower;
  margin-top: 0px;
  text-align: center;
}

.buglan {
  width: 70px;
}

#beetlelan {
  margin-top: 15px;
  display: block;
  -webkit-animation-name: move1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: move1;
  animation-duration: 20s;
  animation-iteration-count: 100;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move1 {
    from {margin-left:0vw;}
    to {margin-left:100vw;}
}

@keyframes move1 {
    from {margin-left:0vw;}
    to {margin-left:100vw;}
}

#ladylan {
  position:absolute;
  margin-top: 50px;
  -webkit-animation-name: move1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 40s; /* Safari 4.0 - 8.0 */
  animation-name: move1;
  animation-duration: 40s;
  animation-iteration-count: 100;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move1 {
    from {margin-left:0vw;}
    to {margin-left:100vw;}
}

@keyframes move1 {
    from {margin-left:0vw;}
    to {margin-left:100vw;}
}

/* Pixel Art */

.black {
  background-color: #F09E56;
}

#pixel2 {
  display: inline-block;
  background-color: white;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 1px 1px -3px 1px;
}

#artboard2 {
  border-spacing: 1px;
  background-color: black;
  border: 1px solid black;
  width: 800px;
  height: 512px;
  margin:auto;
}

/* Madlib */

#prestory {
margin: auto;
width: 307px;
height: 375px;
}

#madlib {
  margin-left: 40px;
  margin-top: 50px;
}

#story{
  position: absolute;
	padding: 27px;
  z-index: -99;
  width: 50%;
  left: 40%;
  background-color: #F09E56;
  border: solid 2px black;
  display: none;
}

.inputButton {
	display: inline-block;
	height: 35px;
  line-height: 35px;
	background-color: #F09E56;
  border: solid 2px black;
	width: 100px;
	color: black;
  font-size: 1.25em;
	text-align: center;
	cursor: pointer;
  position: absolute;
  margin-top: 320px;
  line-height: 39px;
  	font-family: indie flower;
}

.inputBar {
	width: 300px;
	border: solid 2px black;
  margin-top: 5px;
}

#input1 {
	position: absolute;
}

#input2 {
	position: absolute;
	margin-top: 80px;
}

#input3 {
	position: absolute;
	margin-top: 160px;
}

#input4 {
	position: absolute;
	margin-top: 240px;
}

/* Boxes */

div#memory_board{
	background:none;
	border:none;
	width:780px;
	height:500px;
	padding:24px;
	margin:0px auto;
}
div#memory_board > div{
	background-color: #F09E56;
	border:#000 2px solid;
	width:80px;
	height:80px;
	float:left;
	margin:3px;
	padding:20px;
	font-size:38px;
	cursor:pointer;
	line-height: 80px;
	text-align:center;
	font-family: Rock Salt, sans-serif;
	color: black;
}

/* Bug */


.bug {
  margin-top: 5px;
  display: block;
  -webkit-animation-name: move1; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 10s; /* Safari 4.0 - 8.0 */
  animation-name: move1;
  animation-duration: 10s;
  animation-iteration-count: 100;
  width: 70px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move1 {
    from {margin-left:0px;}
    to {margin-left:1300px;}
}

@keyframes move1 {
    from {margin-left:0px;}
    to {margin-left:1300px;}
}

.bug2 {
  margin-top: 5px;
  display: block;
  -webkit-animation-name: move2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 15s; /* Safari 4.0 - 8.0 */
  animation-name: move2;
  animation-duration: 15s;
  animation-iteration-count: 100;
  width: 70px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move2 {
    from {margin-left:-300px;}
    to {margin-left:1300px;}
}

@keyframes move2 {
    from {margin-left:-300px;}
    to {margin-left:1300px;}
}

.bug3 {
  margin-top: 5px;
  display: block;
  -webkit-animation-name: move3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
  animation-name: move3;
  animation-duration: 20s;
  animation-iteration-count: 100;
  width: 70px;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes move3 {
    from {margin-left:-800px;}
    to {margin-left:1300px;}
}

@keyframes move3 {
    from {margin-left:-800px;}
    to {margin-left:1300px;}
}
