* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color:#FFFFFF;
	width: 100%;
	height: 100%;
	max-width: 100%;
}

#logo{
	width: 200px;
	height: 130px;
	background-image: url(../images/smush_logo.png);
	background-size: cover;
	margin-top: 44px;
	margin-left: 0px;
}

/* Header */

#head {
	margin-bottom:0;
	padding-bottom: 30px;
	padding-top: 30px;
	box-sizing: border-box;
	width: 100%;
	background: #F93465;
}

p {
font-family: 'Asap Condensed', sans-serif;
	font-size: 16px;
	line-height: 2vw;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 15vw;
	margin-right: 15vw;
}

#p2 {
	font-size: 38px;
	font-family: 'Baloo Bhaina', cursive;
	font-style: italic;
	color: white;
	text-align: center;
}

#p3 {
	color: black;
	font-size: 19px;
}

#prompt1 {
	position: absolute;
	text-align: center;
	bottom: 13vh;
	left: 15%;
}

/* Fly and Mouth */

#teeth {
    width: 150px;
    height: 80px;
    padding: 10px;
	position: absolute;
	top: 165px;
	left: 150px;
	background: none;
	border: none;
}

#mouth {
	position: relative;
	margin: auto;
	padding-top: 80px;
	width: 500px;
	height: 350px;
	background-image: url(../images/mouth_open.png);
	background-size: cover;
	background-position: center;
}

#flybod {
	background: #7875FF;
	margin-top: -45px;
	height: 106vh;
}

#mouthHolder {
	width: 800px;
	height: 400px;
	margin:auto;
	top: 14vh;
}

#fly {
	width: 100px;
	height: 70px;
	background: none;
	border: none;
}


/* Bear and Zone */


#zone {
  width: 200px;
  height: 200px;
  padding: 10px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	background: none;
	border: dashed black 3px;
}

#zone1 {
	width: 60vw;
  height: 120px;
  padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -320px;
	background: none;
	border: none;
		position: relative;
}

#zone2 {
	width: 25vw;
	height: 210px;
	margin-left: 18vw;
	margin-right: auto;
	margin-top: 0px;
	background: none;
	display: inline-block;
	border: none;
		position: relative;
}

#zone3 {
	width: 25vw;
	height: 210px;
	margin-left: 16vw;
	margin-right: auto;
	margin-top: 0px;
	background: none;
	display: inline-block;
	border: none;
		position: relative;
}

#zone4 {
  width: 60vw;
  height: 150px;
  padding: 0px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	border: none;
	position: relative;
}

#bearbod {
	background: #00CB5F;
	margin-top: -45px;
	height: 106vh;
}

#bear {
	width: 100px;
	height: 160px;
	background: none;
	border: none;
	position: absolute;
	top: 35px;
	left: 60px;
}

#comfortZone {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	position: relative;
}
