* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color:#FFFFFF;
	width: 100%;
	height: 100%;
	max-width: 100%;
}

#logo{
	width: 200px;
	height: 130px;
	background-image: url(../images/smush_logo.png);
	background-size: cover;
	margin-top: 0px;
	margin-left: 0px;
}

#logo2{
	width: 200px;
	height: 130px;
	background-image: url(../images/smush_logo.png);
	background-size: cover;
	margin-top: 44px;
	margin-left: 0px;
  position: fixed;
}

/* Header */

p {
font-family: 'Asap Condensed', sans-serif;
	font-size: 16px;
	line-height: 2vw;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 15vw;
	margin-right: 15vw;
}

#p2 {
	font-size: 38px;
	font-family: 'Baloo Bhaina', cursive;
	font-style: italic;
	color: white;
	text-align: center;
}

#prompt1 {
	position: absolute;
	text-align: center;
	bottom: 13vh;
	left: 15%;
}


#prompt2 {
	position: fixed;
	text-align: center;
	bottom: 13vh;
	left: 15%;
}

/* Fly and Mouth */

#teeth {
    width: 150px;
    height: 80px;
    padding: 10px;
	position: absolute;
	top: 165px;
	left: 150px;
	background: none;
	border: none;
}

#mouth {
	position: relative;
	margin: auto;
	padding-top: 80px;
	width: 500px;
	height: 350px;
	background-image: url(../images/mouth_open.png);
	background-size: cover;
	background-position: center;
}

#flybod {
	background: #7875FF;
}

#mouthHolder {
	width: 800px;
	height: 400px;
	margin:auto;
	top: 14vh;
}

#fly {
	width: 100px;
	height: 70px;
	background: none;
	border: none;
	cursor: pointer;
}


/* Bear and Zone */


#zone {
  width: 200px;
  height: 200px;
  padding: 10px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	background: none;
	border: dashed black 3px;
}

#zone1 {
	width: 60vw;
  height: 120px;
  padding: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -320px;
	background: none;
	border: none;
		position: relative;
}

#zone2 {
	width: 25vw;
	height: 210px;
	margin-left: 18vw;
	margin-right: auto;
	margin-top: 0px;
	background: none;
	display: inline-block;
	border: none;
		position: relative;
}

#zone3 {
	width: 25vw;
	height: 210px;
	margin-left: 16vw;
	margin-right: auto;
	margin-top: 0px;
	background: none;
	display: inline-block;
	border: none;
		position: relative;
}

#zone4 {
  width: 60vw;
  height: 150px;
  padding: 0px;
	margin-left: auto;
	margin-right: auto;
	background: none;
	border: none;
	position: relative;
}

#bearbod {
	background: #00CB5F;
}

#bear {
	width: 100px;
	height: 160px;
	background-image: url(../images/bear.png);
	background-size: cover;
	background-position: center;
	background-color:rgba(0,0,0,0.00);
	border: none;
	position: absolute;
	top: 35px;
	left: 60px;
	padding: 3px;
	cursor: pointer;
}

#comfortZone {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	position: relative;
}


/* Balloon */

#balloonbod {
	background: #FF9500;
}

#balloon {
	width: 200px;
	height: 420px;
	position: absolute;
	left: 43vw;
	-webkit-animation: balloonFloat 3s infinite; /* Safari 4.0 - 8.0 */
animation: balloonFloat 3s infinite;
}

@-webkit-keyframes balloonFloat{
	from {top: 10px; -webkit-animation-timing-function: ease-in-out;}
	50% {top: 20px; -webkit-animation-timing-function: ease-in-out;}
	to {top: 10px; -webkit-animation-timing-function: ease-in-out;}
}

@keyframes balloonFloat{
	from {top: 70px; -webkit-animation-timing-function: ease-in-out;}
	50% {top: 80px; -webkit-animation-timing-function: ease-in-out;}
	to {top: 70px; -webkit-animation-timing-function: ease-in-out;}
}

.pop {
	transition-duration: 0.15s;
	transform: scale(1.35);
	opacity: 0;
}

/*Nose*/


#trigger {
  position: fixed;
  max-width: 1px;
  max-height: 1px;
  opacity: 0;
  top: 57vh;
  left: 45.5vw;
}

#nose {
  position: fixed;
  top: 5vh;
  left: 40vw;
  height: 450px;
  z-index: -12;
}

#nosebod {
	background: #E8AD92;
	margin-top: -45px;
  height: 1500px;
}
